<section>
  {% liquid
    for block in section.blocks
      case block.type
        when 'hero'
          render 'hero', settings: block.settings
        when 'intro'
          render 'intro', settings: block.settings
        else
          echo 'Unknown block type'
      endcase
    endfor
  %}
</section>

{% schema %}
{
  "name": "About Us Content",
  "settings": [],
  "blocks": [
    {
      "name": "Hero",
      "type": "hero",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        }
      ]
    },
    {
      "name": "Intro",
      "type": "intro",
      "settings": [
        {
          "type": "text",
          "id": "pre_heading",
          "label": "Pre Heading",
          "default": "Pre Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "message",
          "label": "Message",
          "default": "Message"
        }
      ]
    }
  ]
}
{% endschema %}
